.error-msg-container,
.success-msg-container {
    padding: 1rem;
    border-radius: 5px;
    animation: fadeIn 0.5s ease-in-out;
}

.error-msg-container {
    background-color: #fff0f0;
    border-left: 4px solid #ff4c4c;
    padding: 1rem 1.2rem;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(255, 76, 76, 0.1);
    color: #a30000;
}

.success-msg-container {
    background-color: #e6ffed;
    border: 1px solid #28a745;
    color: #1e7e34;
}

.error-msg-checkout {
    animation: fadeInCheckout 0.5s ease-in-out;
}

.error-msg,
.success-msg {
    margin: 0.2rem 0;
    font-size: 0.95rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInCheckout {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}