/* Estilo base para todos los botones */
.custom-btn {
    color: #fff;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 0.9rem;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border: none;
    border-radius: 5px;
}

/* Elementos decorativos (bordes animados) */
.custom-btn::before,
.custom-btn::after,
.custom-btn span::before,
.custom-btn span::after {
    content: "";
    position: absolute;
    transition: all 0.3s ease;
}

.custom-btn::before {
    height: 0%;
    width: 2px;
    right: 0;
    bottom: 0;
}

.custom-btn::after {
    width: 0%;
    height: 2px;
    right: 0;
    bottom: 0;
}

.custom-btn span::before {
    height: 0%;
    width: 2px;
    left: 0;
    top: 0;
}

.custom-btn span::after {
    width: 0%;
    height: 2px;
    left: 0;
    top: 0;
}

.custom-btn span {
    position: relative;
    display: block;
    transition: color 0.3s ease;
    padding: 0 1rem;
}

/* Hover animaciones (activan el borde y color de texto) */
.custom-btn:hover::before {
    height: 100%;
}

.custom-btn:hover::after {
    width: 100%;
}

.custom-btn:hover span::before {
    height: 100%;
}

.custom-btn:hover span::after {
    width: 100%;
}

/* ================== ESTILOS ESPECÍFICOS ================== */

/* BOTÓN PRINCIPAL */
.btn {
    background: linear-gradient(to right, #0d4991, #091127);
    line-height: 42px;
    padding: 0;
}

.btn::before,
.btn::after,
.btn span::before,
.btn span::after {
    background: #00ffff;
}

.btn:hover {
    background: linear-gradient(to left, #0d4991, #091127);
}

.btn:hover span {
    color: #00ffff;
}

/* BOTÓN DE USUARIO */
.btn-user {
    background: linear-gradient(to right, #7c3aed, #9333ea);
    line-height: 42px;
    padding: 0;
}

.btn-user::before,
.btn-user::after,
.btn-user span::before,
.btn-user span::after {
    background: #fff5f5;
}

.btn-user:hover {
    background: linear-gradient(to left, #7c3aed, #9333ea);
}

.btn-user:hover span {
    color: #fff5f5;
}

/* BOTÓN HOME */
.btn-home {
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    color: #00ffff;
}

.btn-home::before,
.btn-home::after,
.btn-home span::before,
.btn-home span::after {
    background: #00ffff;
}

/* BOTÓN DE CARRITO */
.btn-cart, .btn-checkout {
    line-height: 42px;
    padding: 0;
}

.btn-checkout {
    background: linear-gradient(to right, #00ffcc, #91ffe9);
    color: #000;
}

.btn-checkout:hover {
    background: linear-gradient(to left, #00ffcc, #91ffe9);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.btn-cart::before,
.btn-cart::after,
.btn-cart span::before,
.btn-cart span::after {
    background: #00ffcc;
}

.btn-cart {
    color: #fff;
}