:root {
    --bg-main: #1e1e1e;
    --bg-header: #292929;
    --text-light: #eaeaea;
    --primary: #00e0ff;
    --danger: #ff4c4c;
    --info: #4fc3f7;
    --hover-dark: #333;
    --border: #333;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.main-content {
    flex: 1;
    padding: 2rem 2rem 7rem 2rem;
    overflow-y: auto;
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-header);
    padding: 1rem 2rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.header h1 {
    color: var(--text-light);
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;
}

#search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--bg-main);
    color: var(--text-light);
}

#search-input::placeholder {
    color: #aaa;
}

#search-button {
    background-color: var(--primary);
    padding: 10px;
    transition: background-color 0.3s ease;
}

#search-button:hover {
    background-color: #00bcd4;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.pagination-btn {
    padding: 10px 15px;
    border: 1px solid var(--border);
    border-radius: 5px;
    background-color: var(--bg-main);
    color: var(--text-light);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.pagination-btn:hover {
    background-color: var(--primary);
    color: var(--bg-main);
}

.pagination-btn.active {
    background-color: var(--primary);
    color: var(--bg-main);
    font-weight: bold;
    pointer-events: none;
}

.tabla-usuarios {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--bg-main);
    border-radius: 12px;
    overflow: hidden;
    color: var(--text-light);
}

.tabla-usuarios thead {
    background-color: var(--bg-header);
}

.tabla-usuarios th,
.tabla-usuarios td {
    padding: 14px 12px;
    text-align: center;
    border-bottom: 1px solid var(--border);
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabla-usuarios th {
    color: var(--text-light);
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}

.tabla-usuarios td {
    max-width: 250px;
}

.tabla-usuarios td img {
    width: 75px;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    margin: 0 auto;
}

.tabla-usuarios td:nth-child(6),
.tabla-usuarios td:nth-child(7) {
    max-width: 200px;
    padding: 8px;
}

.btn-icon-desactivar,
.btn-icon-activar {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    font-size: 20px;
}

.btn-icon-desactivar {
    color: var(--danger);
}

.btn-icon-activar {
    color: var(--info);
}

.btn-icon-desactivar:hover,
.btn-icon-activar:hover {
    background-color: var(--hover-dark);
    transform: scale(1.1);
}

.acciones {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: -1px;
    align-items: center;
}

.acciones form {
    margin: 0;
}